<!DOCTYPE html>
<html>
    <head>
        <title>Edit Profile</title>
        {% include 'home/header.html' %}
    </head>

    <body>
    {% include 'home/navigation.html' %}
        <form id="profile_form" method="post" action="/account/save/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ acct_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Save" />
        </form>

        <form id="change_password" method="post" action="/account/changepassword/"
                enctype="multipart/form-data">

            {% csrf_token %}

            Old Password:<input type="password" name="old_password"/>
            <br/>
            New Password:<input type="password" name="new_password"/>
            <br/>
            Re-Enter Password:<input type="password" name="re_new_password"/>
            <br/>
            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Change Password" />
        </form>
    </body>
</html>