# =========================================================================
# COVERAGE CONFIGURATION FILE: .coveragerc
# =========================================================================

[run]
omit = /usr/*, /Library/*, /System/*, */tests/*, */migrations/*
