# =========================================================================
# COVERAGE CONFIGURATION FILE: .coveragerc
# =========================================================================

[run]
omit = /Library/*, /System/*, */tests/*