<!DOCTYPE html>
<html>
    <head>
        <title>Profile - {{ user.username }}</title>
        {% include 'home/header.html' %}
    </head>
    <body>
        {% include 'home/navigation.html' %}
        {% if profile.photo %}
            <img src="{{ profile.photo.url }}"/>
        {% endif %}
        {{ user.first_name }}
        {{ user.last_name }}
        {{ user.email }}
        {{ profile.bio }}
        {{ profile.twitter }}
        {% if user.is_artist %}
            <h1>{{user.username}}'s Gallery</h1>
            {% for a in art %}
                <img src="{{ a.photo.url }}" height="200" />
                {{ a.title }}
                {{ a.description }}
            {% endfor %}
        {% endif %}
    </body>
</html>