<!DOCTYPE html>
<html>
    <head>
        <title>Forgot Password</title>
        {% include 'home/header.html' %}
    </head>

    <body>
    {% include 'home/navigation.html' %}
        <form id="user_form" method="post" action="/forgotpassword/"
                enctype="multipart/form-data">

            {% csrf_token %}
            <input type="text" id="id_username" name="username" maxlength="30">
            <input type="submit" name="submit" value="Submit" />
        </form>
    </body>
</html>