<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        {% include 'home/header.html' %}
    </head>

    <body>
    {% include 'home/navigation.html' %}
        <form id="user_form" method="post" action="/auth/login/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ login_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Login" />
        </form>
    </body>
</html>